

{% block body%}


{% if posts is defined %}
<ul>
    {%for post in posts  %}
        <li><a href="/post_view/{{ post.id }}">{{ post.title }}</a>{{ post.createDttm }}</li>
    {% endfor %}
</ul>

{% endif %}



    {{ form(searchform) }}


{% endblock %}